
/* GENERAL */

body {
    width: 100%;
    height: 100%;
}

/*#wrapper {
    padding: 0 20px;
}*/


.container-fluid {
    margin-top: 10px;
}

/* IMAGES */

#hoarder-img{
  width: 40%;
  max-width: 150px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

#contractor-img{
  width: 40%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.rating-stars{
  width: 40%;
  max-width: 150px;
  height: auto;
}

#picture-star p{
  text-align: center; 
}

.about-image {
    width: 80%;
    margin: 0 auto 20px auto;
    border-radius: 5px;
}

/* LINKS */

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.cta-link:link {
    color: blue;
}

.cta-link:hover {
    color: blue;
    text-decoration: underline;
}

.cta-link:visited {
    color: blue;
}


/* NAVIGATION */

.nav {
    width: 102%;
    margin: -10px -21px 0 -21px;
    padding: 10px;
    z-index: 9999;
}

nav a {
  color: #113B08;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

nav li {
  display: inline-block;
}

.logo {
    height: 35px;
}

.logo:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
    margin: 9px 15px 0 0;
}

.pull-right li {
    padding-left: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

/* INDEX/LANDING PAGE */
/* HEADER */

.jumbotron {
    background-image: url('../images/beer-bottles-60.jpg');
    position: absolute;
    top: 0;
    z-index: -1;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', 'Arial', sans-serif;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  font-size: 4em;  
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 75px;
}

.intro {
    margin-top: 375px;
}

.about, .charity, .faqs, .how-it-works, .intro {
    padding: 0 20px;
}


.hoarder-title, .contractor-title {
    text-align: center;
}

.sign-in{
    margin-top: 15px;
    margin-right: 5px;
}

/* MAPS */

.contractor-map {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

/* FORMS */ 

#date-pick{
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#cal-glyph{
    margin-top: -7px;
}

#time-pick{
  margin-top: -41px;
}

#time-pick button{
    margin-top: 0px;
}

#date-time-row{
    margin-top: 5px;
}

#submit-btn{
    margin-left: 15px;
}

.hinttext {
    font-style: italic;
    font-size: 70%;
    padding: 5px 15px;
    color: #086408;
}

.howHoarder{
    text-align: center;

}

.howContractor{
    text-align: center;

}

/* HOARDER VIEWS */

/*#disclaimer{
  font-size: .8em;
}*/

#qty-heading{
  margin-top: 0px;
}

.btn-address{
  float: left;
  margin-bottom: 5px;
}

#current-loc-btn {
  margin-left: 3px;
  margin-bottom: 5px;
}


#bottle-table{
    margin-left: 5px;
}

#h-fb-btn {
  margin-top: 20px;
  margin-left: 0px;
}

#hName-center{
  text-align: center;
}

/* CONTRACTOR VIEWS */

.sign-in-wrapper{
  border: 1px solid;
  border-color: #CCCCCC;
  border-radius: 5px;
  padding: 5px;
}

.sign-in-wrapper h3{
  margin-top: 0px;
}

#fb-btn {
  margin-top: 10px;
  margin-left: 0px;
}

.content {
  position: relative;
  z-index: 2000;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.elbow-room {
    margin-left:100px!important;
}

.onTop{
    z-index: 500;
    width:90%;
    border:2px solid green;
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.5);
}

#status{
  display: none;
}

/* FOOTER */

.footer {
    font-family: 'Oswald', 'Arial', sans-serif;
    color: white;
    background-color: #e6a36d;
    text-align: center;
    height: 225px;
    width: 100%;
    margin-top: 40px;
    padding:5px 10px 5px 10px;
}
.footer .copyright-notice {
    color: #2b2622;
    font-size: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 45px;
    position: relative; 
    z-index: 550;
}
.footer li{
    font-family:'Arial', sans-serif;
    color: white;
    font-weight: bolder;
    text-align: left;
    margin-left: 5px;
    padding-bottom: 5px;
    list-style: none!important;
}
.footer h4{
    color: #2b2622;
    text-align: center;
    padding-bottom: 5px;
}
.footer .logo-brand-bottom {
    background-image: url('../images/botl-logo-browns-xs.png');
    background-repeat: no-repeat; 
    background-position: right bottom;
    padding-right:5px;
    padding-top: 105px;
    position:relative;
   // z-index: 500!important;
}
/* MEDIA QUERIES */

@media(max-width: 975px){
  #time-pick {
    margin-top: -10px;
  }
  
}

@media(max-width:768px) {

}

@media(max-width:475px){
  .logo{
    margin-top: 4px;
    margin-left: -35px;
  }

  #h-sign-in{
    margin-top: -8px;
    display: block;
  }

  #c-sign-in{
    margin-top: 0px;
  }

}
