<div class="container-fluid">
<!-- <div id="contract-container"> -->
	<h4> Welcome back, Charlie! </h4>

	<div class="row">
	<div class="col-xs-12" ng-controller="mapController">
		<mapbox map-id="kkieninger.cife3agsc6cy9rylxl7ldcgjn"
        lat="42.347"
        lng="-83.062"
        on-reposition="mapMovedCallback"
        on-zoom="mapZoomedCallback"
        zoom="13" scale-to-fit>
    		<marker ng-repeat="data in databaseOfUsers | filter: filterTerm"
	            lat="{{data.lat}}"
	            lng="{{data.lng}}"
	            color="teal"
	            icon="waste-basket"
	            size="large">
      			<h1 ng-model="data.name">{{data.name}}</h1>
      			<p ng-model="data.address">{{data.address}}</p>
      			<p ng-model="data.qty">Est. # bottles for pickup: {{data.qty}}</p>
      			<a  ng-click="mapSubmit(data)" role="button" class="btn btn-default btn-xs" href="#/resOption"> See Details </a>
    		</marker>
  		</mapbox>

	</div>
	</div>
	
	<div class="row">
	<div class="col-xs-12" id="bottle-table">
	  <h4> Bottles Ready for Pick Up</h4>
	  <input type="text" ng-model="searchList" placeholder="Search List" id="search" />
	  <table class="table-hover table" > 
	      <tr> <!-- Phase 2: Put table left of map. No headings. -->
	        <th>Address</th>
	        <th>Pick Up Date</th>
	        <th>Pick Up Time</th>
	        <th>Total Bottles</th>
	        <th>Select?</th>
	      </tr>  
      	<tr ng-repeat="data in databaseOfUsers | filter:searchList">
	        <td ng-model="data.address"> {{ data.address }} </td>
	        <td ng-model="data.date"> {{ data.date | date: 'MMMM dd, yyyy' }} </td>
	        <td ng-model="data.time"> {{ data.time | date: 'h:mm a'}} </td>
	        <td ng-model="data.qty"> {{ data.qty }} </td>
	        <td> <a ng-click="tblSubmit(data)" role="button" class="btn btn-default btn-xs" href="#/resOption"> Select </a></td>
      	</tr>
    </table>
	</div>
	</div>

	

</div>


