<div id="contract-container">
	<h3> Contractor Info </h3>
	
	<div class="row">
	<div class="col-xs-12" id="bottle-table">
	  <h3> Bottles Ready for Pick Up</h3>
	  <table class="table-hover table" > 
	      <tr>
	        <th>Name</th>
	        <th>Address</th>
	        <th>Total Bottles</th>
	      </tr> 
	      <tr>
	      	<td> {{ name }} </td>
	      	<td> {{ address }} </td>
	      	<td> {{qty}} </td>
	      </tr>
      <tr ng-repeat="data in databaseOfUsers">
	        <td> {{ data.name }} </td>
	        <td> {{ data.address }} </td>
	        <td> {{ data.qty }} </td>
      </tr>
    </table>
	</div>
	</div>

	<div class="row">
	<div class="col-xs-12">
		<div id="fake-map"> The map will go in here
		</div>
	</div>
	</div>

</div>

