<div class="container-fluid">

	<div class="sign-in-wrapper">
		<h3> Nice work Charlie! </h3>

		<p> You just earned: <strong> $37.84 </strong>. 
		<p> 

		<div class="row">
			<div class="col-md-12">
			  <h4> Last five deposits: </h4>
			  <table class="table-hover table" > 
			      <tr>
			        <th>Date</th>
			        <th>$$</th>
			      </tr>  
		      	<tr>
			        <td> 10.16.2015 </td>
			        <td> $37.84 </td>
		      	</tr>
		      	<tr>
			        <td> 10.01.2015 </td>
			        <td> $39.24 </td>
		      	</tr>
		      	<tr>
			        <td> 09.27.2015 </td>
			        <td> $18.88 </td>
		      	</tr>
		      	<tr>
			        <td> 09.20.2015 </td>
			        <td> $45.39 </td>
		      	</tr>
		      	<tr>
			        <td> 9.13.2015 </td>
			        <td> $57.02 </td>
		      	</tr>
		      	<tr>
			        <td> Total </td>
			        <td> $198.37 </td>
		      	</tr>
		    </table>
		</div>
		</div>
	</div>

</div>