<script src="https://connect.facebook.net/en_US/all.js"></script>
<script src="https://www.facebook.com/dialog/1083131601721754"></script>
<script src="js/facebookLog-in.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
        <img src="../images/icons/marker-coffee.svg" class="icon">
        <h3 class="icon-text"> Select Pick-up</h3>
    </div>
    <div class="col-xs-4">
        <img src="../images/icons/bottles-bronze.svg" class="icon">
        <h3 class="icon-text">Collect Bottles</h3>
    </div>
    <div class="col-xs-4">
      <img src="../images/icons/get-paid.svg" class="icon">
      <h3 class="icon-text"> Get Paid</h3>
    </div>
  </div>

  <div class="sign-in-wrapper">
    <h4> Earn Extra Cash </h4>
    <p> Sign Into Your Account </p>
    <form>
      <div class="form-group">
      <label for="exampleInputName1" id="form-input"> Full Name </label>
          <input ng-model="cName" type="text" class="form-control" id="form">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      <a ng-click="cSignIn(cName)" role="button" class="btn btn-default btn-sm sign-in" href="#/contractor">Submit</a>
      </div>

    <div id='fb-btn'>
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
  </div>
</div>


  </form>
  </div>
</div>
<!-- FOR FACEBOOK LOG IN DO NOT REMOVE!!! -->
<div id="status">
</div>
<!-- FOR FACEBOOK LOG IN DO NOT REMOVE!!! -->



 


