<h1> {{ userName }} </h1>

<h3> BOOM! Go pick up the bottles </h3>
<p> some more copy for here to confirm and be nice and stuff like that. </p>

<div ng-repeat="data in reservedHoarder">
<p> {{ hUserName }} is expecting you at </p>
<p> {{data.time | date: 'h:mm a'}} on {{ data.date | date: 'MMMM dd, yyyy'}}.</p>

<p> The Address is:</p>
<p>{{ data.address }}</p>

<p> You should expect to pick up a total of {{ data.qty }} bottle(s) and can(s). </p>


<p> Please don't be tardy. Late fees will be applied.</p>

</div>