

<div class="container-fluid">
  <div class="sign-in-wrapper">
    <h4> So you let a bunch of bottles pile up? We got you covered.</h4>
      <img src="images/can.svg" height="30px">
      <p>Sign Into Your Account</p>
      <form id="hoarder-sign-in">
        <div class="form-group">
          <label for="exampleInputName1" id="form-input"> Full Name </label>
  	       <input ng-model="hName" type="text" class="form-control" id="form">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">

        <a ng-click="hSignIn(hName)" role="button" class="btn btn-default sign-in btn-sm" href="#/hoarder">Submit</a>

  <div id='h-fb-btn'>
    <img src="images/fblogin-btn.png">
  </div>
</form>


  </div>
</div>