<div class="container">
	<div class="form-group">
	    <label for="exampleInputName1" id="form-input"> Full Name </label>
	    <input ng-model="newName" type="text" class="form-control" id="form" placeholder="ex. John Doe">
	    <label for="exampleInputName1" id="form-input"> Address </label>
	    <input ng-model="newAddress" type="text" class="form-control" id="form" placeholder="ex. 1932 E Franklin Street, Detroit, MI 48207">
	    <label for="exampleInputName1" id="form-input"> Estimated # of Bottles </label>
	    <input ng-model="newQty" type="text" class="form-control" id="form" placeholder="ex. 36">


  	</div>
  
  <a ng-click="submit(newName, newAddress, newQty)" role="button" value="add" class="btn btn-default" href="#/contractor">Submit</a>
</div>
