<div class="container-fluid">
	
		<h3> Landall Proctor </h3>

		<p> Do you hear that? That's the sound of saving time. </p>
		<p> We just deposited <strong> $7.50 </strong> into your account. </p>
		<p>
		<p>
		<p>How would you rate Charlie Ponders? </p>
		<p><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p> 
		<div class="confirm-rating">
			<p> Thanks for using botl. If there is anything we can do to improve the process, we'd love to know. Please email us at <a href="#/contractorPayment">feedback@botl.com.</a></p>
		</div>


</div>

