<h4>  Welcome Back, {{ userName }} </h4>
<div class="container-fluid">

	<div class="form-group">
	    <!-- <label for="exampleInputName1" id="form-input"> Full Name </label>
	    <input ng-model="data.name" type="text" class="form-control" id="form" placeholder="ex. John Doe"> -->

	    <label for="exampleInputName1" id="form-input"> Address </label>
	    <input ng-model="data.address" type="text" class="form-control" id="form" placeholder="ex. 1932 E Franklin Street, Detroit, MI 48207">
	    <label for="exampleInputName1" id="form-input"> Estimated # of Bottles </label>
	    <input ng-model="data.qty" type="text" class="form-control" id="form" placeholder="ex. 36">

<div class="row" id="date-time-row">

	<div ng-controller="DatepickerCtrl">
	
        <div class="col-md-6">
            <p class="input-group">
              <input id="date-pick" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="data.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" show-weeks="false" close-text="Close" />
              <span class="input-group-btn">
                <button id="cal-glyph" type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>

	<div ng-controller="TimepickerCtrl">
        <div class="col-md-6">
			<timepicker id="time-pick" ng-model="data.time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		</div>
 	</div>

 		<a id="submit-btn" ng-click="submit(data)" role="button" value="add" class="btn btn-default" href="#/hoarderConfirm">Submit</a>

	</div>

 </div>

 </div>


<!-- ng-change="changed()" -->

