<div class="jumbotron">
	<h1 class="title">welcome to [botl.]</h1>	     
		</div>
	</div>
	

</div> 

<section class="intro">
	<div class="row">
		<div class="col-sm-12"></div>
			<h2>INTRO</h2>
			<p>INTRO</p>
		</div>
	</div>
</section>

<section>
	<div class="landing-breaks">
	<section class="how-it-works">

	<div class="row">
		<div class="col-sm-12">
			<h3>How It Works</h3>
			<p> It's really pretty simple, when the bottles you've been hoarding are picked up, you get $.05 for every bottle. The person doing the collecting keeps $.04 per bottle for their efforts and we keep a penny.</p> 
			<p>We tried to come up with a more complicated explanation, but couldn't.</p>
			<p>Remove the Hassle, Save Time.</p>	
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-6">
				<h4 class="hoarder-title">Hoarder</h4>
				<h4 class="hoarder-title">Have Unwanted Returnables?</h4>
				<img src="images/beer-bottles2.jpg" class="img-responsive about-image">
				<!-- Landall's Pick -->
				<!-- <p>Bag your bottles, schedule a pickup, and leave the rest to us. Get your money back fast - receive payment within 24 hours.</p> -->
				<!-- Landall's Pick -->
				<!-- Charlie's original Includes paragraph above
				<p>Host lots of parties?  Friends always bringing 6 packs and leaving empty cans behind?  Are you the office recycler but don't have time to wait in line to return all those accumulated cans & bottles?</p>
				-->
				
				<!-- <p>Have unused returnables piling up in your basement? We want 'em.</p> -->
				<p>Bag your bottles, schedule a pickup, and leave the rest to us. We'll send a vetted driver to pick up your returnables,
				</p>
				<p>Best of all, you'll keep half of your deposit money within 24 hours of pickup, without having to lift a finger.</p>
				
				<p><a href="#/hoarderSign-in" class="cta-link">Get Started</a></p>
	    </div>
		<div class="col-sm-6">
				<h4 class="contractor-title">Contractor</h4>

				<h4 class="contractor-title">Want to Make Some Extra Cash?</h4>

				<img src="images/driver-image.png" class="img-responsive about-image">
				<p>Log in to botl., pick up returnables, drop them off for a deposit, split the profits! It's as simple as that!</p>
				<!-- Charlie Original -->
				<p>At $.10, Michigan's deposit is the highest in the country meaning as a contractor, you have unlimited earning potential for just picking up people's bottles.</p>
				<!-- <p>Help the environment. Michigan's bottle recycling system benefits the ecosystem by reducing litter, and supports the recycling industry.</p> -->

				<p><a href="#/contractorSign-in" class="cta-link">Get Started</a></p>
		</div>
	</div>
	</div>
	</div>
</section>
<section>
	<h3 class="faqs">FAQs</h3>
	<img src="images/ask.svg" class ="faq-icon">
		<h4>Which containers require a deposit or may be redeemed for a deposit?</h4>

		<p>If it's carbonated, we'll take it! <!-- Only beverage containers require a deposit and may be redeemed. The law states that a beverage means a "soft drink, soda water, carbonated natural or mineral water, or other nonalcoholic carbonated drink; beer, ale, or other malt drink of whatever alcoholic content; or a mixed wine drink or a mixed spirit drink." --></p>
		<p>All bottles, can, and glass returnables must have a clearly legible barcode or they will not be accepted.</p>

		<h4>Can I bring beverage containers from other states or countries to Michigan to redeem for deposit?</h4>
		<p>Short answer: No. If Seinfeld has taught us anything, you'll end up in a mail truck with Newman pursuing your friend Jerry's stolen car.</p>

		<h4>Are the containers recycled after pick up?</h4>
		<p>Of course, it's the law.</p>

		<h4>Do the bottles and cans need to be cleaned before pick up?</h4>
		<p>Technically a beverage container that contains nothing except the residue of its original contents is acceptable. But if you want to clean them, we won't stop you.</p>

		<h4>What type of bags should I use to store the bottles in?</h4>
		<p>Bottles should be packaged in botl bags only. Bags will be provided once you register. If you need extra bags we can bring them to you at each pick-up. Just let us know. </p>
</section>

<section class="about">
	<div class="landing-breaks">
		<h3>About Us</h3>
		<p>botl. is evolving the way Michigan residents manage their returnables. By seamlessly connecting hoarders to contractors, we offer a hassle free solution to get rid of your bottles and a source of extra income for those that want to pick them up.</p>
	</div>
</section>


<section>
	<h3 class="about">Charitable Giving</h3>
	<img src="images/donate2.svg"  class ="donate-icon">



<section class="charity">
	<h3>Charitable Giving</h3>

	<img src="images/donate2.svg ">
	<h3>Charitable Giving</h3>


		<p>Where cans & bottles get used for good... </p>
		<p>Donations to botl are tax-deductible in the US.</p>
</section>
</div>


