<div class="container-fluid">

	<h3 id="hName-center"> Landall, good news, <br>help is on the way! </h3>
	
	<div class="row">
		<div id="picture-col" class="col-sm-6">
			<div id="picture-star">
				<p> Your bottles have been reserved by: </p>
				<p><img id="contractor-img" src="images/charlie.jpg"></p>
				<h4> <p>Charlie Ponders </p></h4>
				<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></span></p>
			</div>
		</div>
		<div class="col-sm-6" id="confirm-appt">

				<p>Expect a call within 15 minutes of arrival.</p>

				<p> Once your bottle quantity is confirmed, we'll make a temporary deposit into your linked account. That money will be released upon acceptance of the bottles, always within 24 hours.</p>

				<p> We can't imagine you will, but if any problems arise, give us a call, (313)555-5555<a href="#/confirmQty">.</a> </p>
				</p>
			</div>

		</div>
	</div>

 
</div>