<div class="container-fluid">

	<h1> Name of Hoarder </h1>
	
	<p> Your bottles have been reserved by: </p>
	<img src="images/charlie.jpg">
	<h4> Charlie Ponders </h4>
	<img src="images/ratingStars.jpeg">



	<p>Expect a call within 15 minutes of arrival.</p>

	<p> Once your bottle quanity is confirmed, we'll make a temporary deposit into your linked account. That money will be released upon acceptance of the bottles, always within 24 hours.</p>

	<p> We can't imagine you will, but if any problems arise, give us a call, (313)555-5555. </p>

<a href="#/confirmQty">  >> </a>
</div>