<div class="container-fluid">

	<h3 id="hName-center"> Landall, good news, <br>help is on the way! </h3>
	
	<div id="picture-star">
			<p> Your bottles have been reserved by: </p>
			<p><img id="contractor-img" src="images/charlie.jpg"></p>
			<h4> <p>Charlie Ponders </p></h4>
			<p><img class="rating-stars" src="images/ratingStars.jpeg"></p>



			<p>Expect a call within 15 minutes of arrival.</p>

			<p> Once your bottle quanity is confirmed, we'll make a temporary deposit into your linked account. That money will be released upon acceptance of the bottles, always within 24 hours.</p>

			<p> We can't imagine you will, but if any problems arise, give us a call, (313)555-5555. </p>
		</p>
	</div>

<a href="#/confirmQty">  >> </a>
</div>