
	<img id="hero" src="images/bagged-bottles.jpg">

<section> 
	<h1 class = "about">ABOUT US</h1>
	<h2 class="text-branding text-jumbo text-contrast space-1">
          Welcome home
        </h2>

		<p>Botl/Hoardr is evolving the way Michigan residents manage recycling. By seamlessly connecting "bottle hoarders" to contractors through our app, we offer a practicable solution helps the environment, and allows both parties to collect on their return.</p>
</div>

<div> 

	<h1 class ="howHoarder">HOW IT WORKS (HOARDER)</h1>
	
			<h2>Remove the Hassle, and Save Time</h2>
					<h3>Bag your bottles, schedule a pick up, and leave the rest to us.</h3>
				
			<h2>Get Your Money Back</h2>
					<h3>Receive payment within 24 hours.</h3>

			<h2>Tax-Incentives</h2>
					<h3>Donations to botl/hoardr are tax-deductible in the US.</h3>


	<h1 class ="howContractor">HOW IT WORKS (CONTRACTOR)</h1>
			<h2>Earn Extra Money
					<h3>At 10 cent Michigan's deposit is the highest in the country. We have unlimited earning potential for eager contractors. Search our database of 83 counties to find opportunities closest to you. </h3>

			<h2>Help the Environment</h2>
					<h3>Michigan's bottle recycling system benefits the ecosystem by reducing litter, and supports the recycling industry.</h3>

			<h2 class=>Tax-Incentives</h2>
					<h3>Donations to botl/hoardr are tax-deductible in the US. </h3>

	<h1 class = "items">ITEMS YOU CAN RECYCLE</h1>
			<p>Here are the types of beverage containers you can recycle using botl/hoardr:
			(use pictures as examples)</p>
					<h3>Is it carbonated? Yes? Then it's returnable!</h3>
	
	<h1 class ="faqs">FAQ'S</h1>
			
			<h2>Which containers require a deposit or may be redeemed for a deposit?</h2>
					<p>Is it carbonated? Yes? Then it can be redeemed!
					Only beverage containers require a deposit and may be redeemed. The law states that a beverage means a "soft drink, soda water, carbonated natural or mineral water, or other nonalcoholic carbonated drink; beer, ale, or other malt drink of whatever alcoholic content; or a mixed wine drink or a mixed spirit drink."</p>

			<h2>Can I bring beverage containers from other states or countries to Michigan to redeem for deposit?</h2>

					<p>Short answer: No there is a Seinfield episode about that.  
					You will be penalized for fraudulently attempting to redeem unauthorized beverage containers.</p>

			<h2>Are the containers recycled after they are returned to the retailer by the consumer?</h2>

					<p>By law beverage containers are prohibited from disposal, thus they are recycled.</p>

			<h2>Do the bottles and cans need to be clean to be returned for deposit?</h2>

					<p>Technically a beverage container that contains nothing except the residue of its original contents is acceptable. We do request to reduce odors and nuisance problems from pests, return them dry and do not use the container for other materials.</p>

			<h2>What type of bags should I use to store the bottles in?</h2>
					<p>Bottles should be packaged in botl/hoardr bags only. Bags will be provided via mail once you register. If you require additional bags please submit your request 24 hours before your scheduled pick-up. </p>
</section>
