
<div class="container-fluid">

  <h4> {{ userName }} </h4>

view for contractor to confirm a bottle pick up reservation.
<!-- Map from contractor.html -->
<table class="table-hover table" > 
        <tr> <!-- Phase 2: Put table left of map. No headings. -->
          <th>Address</th>
          <th>Pick Up Date</th>
          <th>Pick Up Time</th>
          <th>Total Bottles</th>
          <th>Select?</th>
        </tr>  
        <tr ng-repeat="info in selectedUser">
          <td ng-model="data.address"> {{ info.address }} </td>
          <td ng-model="data.date"> {{ info.date | date: 'MMMM dd, yyyy' }} </td>
          <td ng-model="data.time"> {{ info.time | date: 'h:mm a'}} </td>
          <td ng-model="data.qty"> {{ info.qty }} </td>
          <td> <a ng-click="tblSubmit(data)" role="button" class="btn btn-default btn-xs" href="#/resOption"> ! </a></td>
        </tr>
    </table>

<a role="button" class="btn btn-default btn-md" href="#/contractor"> Back </a>


<div class="row">
	<div class="col-xs-12" ng-controller="mapController">
		  <mapbox map-id="kkieninger.cife3agsc6cy9rylxl7ldcgjn"
          lat="42.347"
          lng="-83.062"
          on-reposition="mapMovedCallback"
          on-zoom="mapZoomedCallback"
          zoom="13" scale-to-fit>
    		<marker ng-repeat="info in selectedUser"
	            lat="{{info.lat}}"
	            lng="{{info.lng}}"
	            color="teal"
	            icon="waste-basket"
	            size="large">
      			<h1 ng-model="info">{{info.name}}</h1>
      			<p ng-model="info">{{info.address}}</p>
      			<p ng-model="info">Bottles for pickup: {{info.qty}}</p>
      			<a ng-click="reserve(info)" role="button" class="btn btn-danger btn-md" href="#/contractorConfirm"> Reserve it! </a>
    		</marker>
  		</mapbox>


	   </div>
	 </div>
  </div>