<!DOCTYPE html>
<html>

<head>
    <title> botl. </title>
    <meta charset="utf-8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="icon" type="image/ico" href="../images/botl-branding-brown.ico">
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!-- STYLESHEETS -->
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper" class="center-me">
        <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
              <h1 class="center-text"> Team [ botl ] </h1>

            </div>
              
        </div> 
        <div class="row">
          <div class="col-md-4 team team-mate">
              <h4 class="first-name"> Kevin </h4>
              <div class="thumbnail pull-left"><img src="../images/kevin.jpg" width="200" ></div>
              <section>
                <p>Currently a JavaScript bootcamp student at Grand Circus Detroit, Kevin is striving to hone his technical skills in JavaScript, HTML and CSS. In addition to front-end development, he is well-versed in public relations, marketing, advertising and project management. He is passionate about the web, exploring new technologies and solving complex challenges.</p>

                <p>Throughout his career, he's launched publicity campaigns for buzzing indie musicians, helped seniors celebrate their golden years, announced multi-million dollar real estate developments and helped America’s oldest detective agency reinvent themselves for the 21st Century.</p>
              </section>
          </div>
          <div class="col-md-4 team team-mate">
              <h4 class="first-name"> Landall </h4>
              <div class="thumbnail pull-left"><img src="../images/landall2.jpg" width="200"></div>
              <section><p>Landall is a JavaScript Developer into writing clean, expressive and maintainable code focused on solving problems. He has the ability to quickly learn new languages, frameworks and skills to contribute as an effective member of any team. </p>

              <p>As a small business owner and endurance athletics coach he understands the value of efficiency, using an analytical approach to decision making and training plan construction. He views each athlete and their individual goals as a problem to be solved, prescribing workouts to create the appropriate stimuli for each athlete's needs. </p>

              </section>
          </div>        
        </div> 

        <div class="row">
          <div class="col-md-4 team team-mate">
              <h4 class="first-name"> Charlie </h4>
              <div class="thumbnail pull-right"><img src="../images/charlie.jpg" width="200"></div>
          </div>

          <div class="col-md-4 team team-mate">
              <h4 class="first-name"> Larisa </h4>
              <div class="thumbnail pull-right"><img src="../images/larisa.jpg" width="200"></div>
              <section><p>Creating beauty and functionality out of code and chaos is Larisa's passion.  To engage the imagination and find new and innovative ways to upgrade the digital experience that is the world wide web, she is constantly learning and exploring.  With well over a decade of hands-on experience in web design and development, usability, content management, and interface design, she is looking for her next full-time challenge!</p>  

              <p>With a background in the Defense, Healthcare, and Automotive industries, Larisa's focus has always been in using design to share information and engage the end-user, taking a casual visitor and making them an active participant.</p>

              <ul>
                <li><a href="https://www.linkedin.com/in/larisabekerman">https://www.linkedin.com/in/larisabekerman </a>
                </li>
                <li><a href="mailto:larisa.bekerman@comcast.net">larisa.bekerman@comcast.net</a></li>
                <li><a href="http://www.xaosdesigns.com">http://www.xaosdesigns.com</a></li>
              </section>
          </div>        
        </div> 
           
          <div class="col-md-12 join-us">
          <section> ideally this is where the form to input info and upload a pdf resume would go</section>
          </div>    
        </div>

    </div> 
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <script src="lib/leaflet.markercluster.js"></script>
    <script src="dist/angular-mapbox.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/hoarderController.js"></script>
    <script src="js/controllers/contractorController.js"></script>
    <script src="js/services/addressService.js"></script>
    <script src="js/controllers/HoarderSignInController.js"></script>
    <script src="js/controllers/ContractorSignInController.js"></script>
    <script src="js/controllers/resOptionController.js"></script>
    <script src="js/services/resOptionService.js"></script>
    <script src="js/controllers/contractorConfirmController.js"></script>
    <script src="js/services/contractorConfirmService.js"></script>
    <script src="js/services/resOptionService.js"></script>
    <script src="js/services/signInServiceHoarder.js"></script>
    <script src="js/services/signInServiceContractor.js"></script>
    <script src="js/mapBox/mapbox.service.js"></script>
    <script src="js/controllers/mapController.js"></script>
    <script type="text/javascript" src="js/directives/angular-mapbox-forward-geolocation.js"></script>
</body>

</html>
